.body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFF;
    display: grid;
    grid-template-rows: 7vh 4vh auto 8vh;
}
.header {
    grid-row: 1 / 2;
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    background-color: #FFF;
    /* border-color: #D3D3D3;
    border-width: 2px;
    border-style: none none solid none; */
    font-size: 1.3vw;
    padding: 1vh 1vw;
    position: fixed;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 1vh;
}
    #logo_img {
        grid-column: 5 / 8;
        padding-left: 4vw;
        margin: auto;
        width: auto;
    }
    .search {
        grid-column: 11 / 17;
        margin: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap:1vh;
    }
    #search {
        font-size: 1rem;
        width: 30vw;
        height: 4vh;
        padding: 0vw 0.5vw;
        border: 1.5px solid #6FB3B8;
        border-radius: 6px;
    }
    .searchButton {
        padding: 0;
        margin: 0;
        border: none;
        background: none;
        cursor: pointer;
        width: 3vh;
        height: 3vh;
    }
    .searchButton img {
        max-width: 100%;
        min-width: 100%;
      }
    #search_btn, #account, #account:visited  {
        background-color: #E8E9EB;
        height: 2vw;
        width: 2vw;
        margin-left: 1vw;
        border-radius: 20px;
        border-color: #E8E9EB;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .account {
        grid-column: 18 / 21;
        padding-right: 4vw;  /* this is to match footer*/
        display: inline-flex;
        margin: auto;
        text-decoration: none;

    }
    #account, #account:visited {
        width: auto;
        padding: 12px 5px;
    }
    #account:hover, #account:active, #search_icn:hover, #search_icn:active {
        opacity: 1;
    }
.filter {
    z-index: 5;
    grid-row: 2 / 3;
    border-style: solid none solid none;
    background-color: #6FB3B8;
    border-color: #BEBEBE;
    border-width: 2px;
    list-style: none;
    position: fixed;
    top: 9vh;
    width: 100%;
    height: 6vh;
    padding-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    #f_label {
        padding-left: 4vw;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        font-weight: 700;
    }
    .f_btn {
        height: 4vh;
        background-color: #6FB3B8;
        color: white;
        border: none;
        margin: auto;
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 0.4s;
        appearance: none;
        -moz-appearance: none;
        cursor: pointer;
    }
    .f_btn:hover {
        background-color: #388087;
    }
    #collapse {
        cursor: pointer;
        margin: auto;
    }
    #collapse:hover, .f_content {
        display: block;
      }
    .f_content {
        display: none;
    }
.main {
    grid-row: 3 / 4;
    padding: 1vh 3vw;
    min-height: 89vh;
}
    .h1 {
        font-size: 2vw;
        margin-bottom: 1vh;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #vis {
        background-color: white;
        padding: 1vw 1vw;
        border-color: #DEDEDE;
        border-width: 1px;
        height: auto;
        font-size: 1vw;
    }
.footer {
    z-index: 5;
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    border-color: #BEBEBE;
    background-color: #D3D3D3;
    border-width: 2px;
    border-style: solid none none none;
    font-size: 1vw;
    padding-top: 2vh;
}
    #logo {
        grid-column: 5 / 8;
        padding-left: 4vw;
        margin: auto;
        width: auto;
    }
    #about {
        grid-column: 9 / 10;
        margin: auto;
        opacity: 0.5;
    }
    #team {
        grid-column: 11 / 12;
        margin: auto;
        opacity: 0.5;
    }
    #contact {
        grid-column: 13 / 14;
        margin: auto;
        opacity: 0.5;
    }
    #help {
        grid-column: 15 / 16;
        margin: auto;
        opacity: 0.5;
    }
    #about:hover, #team:hover, #contact:hover, #help:hover {
        opacity: 1;
        text-decoration: underline;
    }
    #copyright {
        grid-column: 18 / 21;
        font-size: 0.6vw;
        margin: auto;
        padding-right: 4vw;
    }
/* .list1, .list2 {
    display: none;
} */